<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
  <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
  <property name="hibernate.connection.username">development</property>
  <property name="hibernate.connection.password">development</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tictactoetest</property>
  <property name="hibernate.default_schema">TicTacToeTest</property>
  <property name="hibernate.dialect">strata1.entity.hibernaterepository.MySqlDialect</property>
  <property name="hibernate.bytecode.provider">javassist</property>
  <property name="hibernate.c3p0.acquire_increment">1</property>
  <property name="hibernate.c3p0.idle_test_period">300</property>
  <property name="hibernate.c3p0.timeout">120</property>
  <property name="hibernate.c3p0.max_size">1</property>
  <property name="hibernate.c3p0.min_size">1</property>
  <property name="hibernate.c3p0.max_statement">0</property>
  <property name="hibernate.c3p0.preferredTestQuery">select 1;</property>  
  <mapping resource="tictactoe/serverplatform/sessionmapping/Session.hbm.xml"/>
  <mapping resource="tictactoe/serverplatform/sessionmapping/User.hbm.xml"/>
  <mapping resource="tictactoe/serverplatform/sessionmapping/Player.hbm.xml"/>
  <mapping resource="tictactoe/serverplatform/sessionmapping/Game.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
